* {
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}
body {
  margin: 2em;
  background: #e8ce91;
}
nav {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border: solid;
  border-radius: 1em;
}
nav a {
  transition: 0.5s;
  color: black;
  border: solid;
  text-decoration: none;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  font-size: 20px;
}

nav a:hover {
  transform: scale(1.15);
}
#imgProfil,
h1 {
  display: flex;
  justify-content: center;
}
#imgProfil {
  margin-left: 10%;

  height: 150px;
  width: 150px;
  border: 2px solid;
  border-radius: 10em;
  background-color: aliceblue;
}
#password, #email, #identifiant, #confirmPassword {
  width: 30%;
}
#emailError, #passwordError, #identifiantError, #confirmPasswordError{
    color: red;
}
form {
  margin-left: 40%;
}
h1 {
  font-size: larger;
  font-size: 3em;
  margin: 1em;
}
h2 {
  font-size: 3em;
  margin-left: 8%;
}
#connect, #inscription {
  margin-left: 40%;
}
@keyframes clignoter {
  0% {
    background: url("../img/backgroundImg/mrBeanAgent.jpg");
    background-size: cover;
    
  }
 10% {
    background: url("../img/backgroundImg/mrBeanAttentive.webp");
    background-size: cover;
    
  }20% {
    background: url("../img/backgroundImg/mrBeanFace.jpg");
    background-size: cover;
    
  }30% {
    background: url("../img/backgroundImg/mrBeanHolpUp.jpg");
    background-size: cover;
    
  }40% {
    background: url("../img/backgroundImg/MrBeanOops.jpeg");
    background-size: cover;
    
  }50% {
    background: url("../img/backgroundImg/mrBeanSad.jpg");
    background-size: cover;
    
  }60% {
    background: url("../img/backgroundImg/mrBeanSmile.jpg");
    background-size: cover;
    
  }70% {
    background: url("../img/backgroundImg/mrBeanStupi.webp");
   background-size: cover;    
  }80% {
    background: url("../img/backgroundImg/mrBeanUp.jpg");
    background-size: cover;
    
  }90% {
    background: url("../img/backgroundImg/mrBeanWhut.jpg");
    background-size: cover;
    
  }
}
#formuBody {
  animation-duration: 0.9s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
