*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
}
body {
  margin: 2em;
  background: #e8ce91;
 
}
nav {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border: solid;
  border-radius: 1em;
}
nav a {
  transition: 0.5s;
  color: black;
  border: solid;
  text-decoration: none;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  font-size: 20px;
}

nav a:hover {
  transform: scale(1.15);
}
#regles,
h2,#resume p,
#infoJeu p,h1,#imgJeu,#imgProfil,form,div {
  display: flex;
  justify-content: center;
}
form {
  font-size: 2em;
}
li, .resume{
  font-size: 25px;
}
.resume{
  flex-direction: column;
}
h2{
    font-size: 3em;

}
h1{
  font-size: larger;
  font-size: 3em;
  margin: 1em;
}

